# Calori Firebase & App Configuration Template
# Duplicate this file to .env or .env.local and populate with your credentials.

EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyC6POAupm6uMh20fGUYAtdGLXtTiHFYLfE
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=calori-dba00.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=calori-dba00
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=calori-dba00.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=209376196693
EXPO_PUBLIC_FIREBASE_APP_ID=1:209376196693:web:2d5982bc5e7e673bddbcdc
